html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.nav {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  height:115px;
  padding:.5rem;
  background-color:black;
/*   border-bottom:1px solid white; */
}

.brand {
  height:auto;
  width:450px;
/*   outline:1px solid green; */
}

.brand img {
  max-width: 100%; /* Ensures the image doesn't exceed its container's width */
  height: auto; /* Preserves the aspect ratio of the image */
}

/* .social-links {

} */

.social-links ul {
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  column-gap: 15px;
  width:170px;
/*   outline:1px solid pink; */
}

.social-links ul li {
  width:50px;
}

.social-links a {
  display:inline-block;
/*   outline:1px solid white; */
  }

.social-links img {
  display:block;
  max-width:100%;
  height:auto;
/*   outline:1px solid green; */
}


.hero-wrap {
  display:flex;
  flex-direction:column;
  height:auto;
  width:auto;
/*   outline:2px solid red; */
}

.hero {
  height:750px;
  width:100%;
  background-image: url("../images/EvelynLawBG.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  
}

.hero-text-wrap {
  position:relative;
  top:8rem;
  left:3rem;
  width:auto;
  height:auto;
  padding:0 1rem 0 .75rem;
/*   outline:1px solid pink; */
  border-left:1px solid white;
}

.hero-text h1 {
  margin:0;
  color:#CCB69D;
 font-family: 'Cinzel', serif;
  text-transform:uppercase;
  font-weight:700;
  font-size:4rem;
}

.hero-text h2{
  color:white;
  line-height:2.75rem;
/*   margin-top:.5rem; */
 font-family: 'Cinzel', serif;
  font-size:2.5rem;
}

.bio-wrap {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center;
  align-content:space-around;
  height:590px;
  padding:2rem;
  background-color:#CCB69D;
}

.bio {
  width:50%;
  text-align:justify;
  margin-bottom:2.rem;
  border-bottom:1px solid black;
/*   outline:1px solid red; */
}

.bio img {
  display:block;
  width: 175px;
  height: auto;
  margin:0 auto;
    /* max-height: 300px; */
  border:2px solid black;
  border-radius:100px;
}

.bio p {
/*   width:100%; */
  font-size:1.1rem;
  margin:30px auto 30px auto;
  font-family: 'Source Serif Pro', serif;
  line-height:1.25rem;
  text-transform:none;
}

.services-wrap {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-evenly;
  align-content:center;
  gap:2rem;
/*   outline:2px solid red; */
  width:90%;
/*   height:auto; */
/*   padding:1rem; */
  margin:60px auto;
}

.section-title {
/*   background-color:purple; */
  width:90%;
  text-align:center;
  margin-bottom:2rem;
  font-family: 'Source Serif Pro', serif;
  font-size:2rem;
  text-transform:uppercase;
}

.section-title h1 {
/*   outline:1px solid black; */
  border-top:1px solid black;
  border-bottom:1px solid black;
  width:50%;
  margin:0 auto;
  padding:.5rem;
}

.service-block {
  outline:1px solid black;
  text-align:center;
  width:275px;
  height:auto;
}

.service {
/*   background-color:green; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
/*   outline:1px solid pink; */
/*   width:100%; */
  height:220px;
}

.one {
  background-image: url('../images/Services/photos/Civil_275x220.jpg');
}

.two {
  background-image: url('../images/Services/photos/family-275x220.jpg');
}

.three {
  background-image: url('../images/Services/photos/personal_275x220.jpg');
}

.service-block p {
/*   outline:1px solid green; */
  width:90%;
  margin:25px auto;
  padding:.25rem;
  font-family: 'Mate SC', serif;
  font-size:1.5rem;
  text-transform:uppercase;
  border-top:1px solid black;
  border-bottom:1px solid black;
}

/*--Footer Section--*/

/* footer {

} */

.footer-wrap {
  display:flex;
  justify-content:flex-end;
  padding:3rem;
/*   width:100%; */
  height:500px;
  background-image:linear-gradient(rgba(0, 0, 0, .95), rgba(0, 0, 0, .95)), url('../images/scalesBG.jpg');
  background-position: -70px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color:black;
}

/* .footer-image {
  text-align: center;
	position: absolute;
	width: 100%;
} */

.footer-text {
  text-align:right;
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
  font-size:1.25rem;
  width:20%;
  margin-right:5rem;
  margin-top:.75rem;
}

.footer-text h3 {
  text-align:right;
  text-transform:uppercase;
  color:rgb(196, 171, 134);
  margin-bottom:2rem;
}

.footer-text p {
  text-align:right;
  color:white;
  padding:1rem 0;
  border-bottom:1px solid rgb(196, 171, 134);
  }

.info {
  margin-top:2rem;
  
}

#area, #phone {
  text-align:right;
  color:rgb(196, 171, 134);
  margin-bottom:0;
  padding:.25rem;
  border-bottom:none;
/*   outline:1px solid red; */
  }

.super-footer {
  height:75px;
  width:100%;
  background-color:#0e0e0e;
}


/* ResponsiveCode */

@media screen and (max-width: 480px) {
  
  .hero-wrap {
  outline:2px solid green;
}
  
  .hero {
    height:300px
  }
}